name: build
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: build
        run: |
          echo 1
          cd "${{ github.workspace }}"
          bash "${{ github.repository }}/build.sh"
          echo 2
