name: build
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: check out
        uses: actions/checkout@v2
      - name: build
        run: |
          echo 1
          cd "${{ github.workspace }}"
          ls -alF
          bash "${{ github.workspace }}/build.sh"
          echo 2
